Repository sstsimulator/sst-core, pull requests merged in 2019-05, with the labels that each got.

#406 Subcomp api update
  src/sst/core/Makefile.am
  src/sst/core/activity.h
  src/sst/core/baseComponent.cc
  src/sst/core/baseComponent.h
  src/sst/core/component.cc
  src/sst/core/component.h
  src/sst/core/componentExtension.h
  src/sst/core/componentInfo.cc
  src/sst/core/componentInfo.h
  src/sst/core/configGraph.cc
  src/sst/core/configGraph.h
  src/sst/core/eli/elementbuilder.h
  src/sst/core/eli/elementinfo.h
  src/sst/core/eli/elibase.h
  src/sst/core/factory.cc
  src/sst/core/factory.h
  src/sst/core/interfaces/simpleMem.h
  src/sst/core/interfaces/simpleNetwork.h
  src/sst/core/link.cc
  src/sst/core/link.h
  src/sst/core/linkMap.h
  src/sst/core/output.cc
  src/sst/core/output.h
  src/sst/core/simulation.cc
  src/sst/core/sst_types.h
  src/sst/core/statapi/statengine.cc
  src/sst/core/subcomponent.cc
  src/sst/core/subcomponent.h
Labels: Enhancement

#414 Add python2-config Check for RHEL8
  config/sst_check_python.m4
Labels: Enhancement, SST-BuildSystem

#412 sstregistertool
  src/sst/core/sstregistertool.cc
Labels: Enhancement, SST-Core
