Repository sstsimulator/sst-core, pull requests merged in 2019-03, with the labels that each got.

#375 Adds SST Configuration Printing
  src/sst/core/bootsst.cc
  src/sst/core/config.cc
  src/sst/core/config.h
Labels: Enhancement, SST-Core

#378 Fixed issue with find<bool> and moved all calls to stl containers to …
  src/sst/core/params.cc
  src/sst/core/params.h
Labels: Bug, Enhancement

#384 Fix missing functional Header to get SST to compile with GCC 8.0
  src/sst/core/elibase.h
Labels: Bug, SST-Core
