Repository sstsimulator/sst-core, pull requests merged in 2021-05, with the labels that each got.

#630 Added the ability to loopback a link to the same port
  src/sst/core/baseComponent.cc
  src/sst/core/baseComponent.h
  src/sst/core/configGraph.cc
  src/sst/core/simulation.cc
  src/sst/core/testElements/Makefile.inc
  src/sst/core/testElements/coreTest_Links.cc
  src/sst/core/testElements/coreTest_Links.h
  tests/Makefile.inc
  tests/refFiles/test_Links.out
  tests/test_Links.py
  tests/testsuite_default_Links.py
Labels: Enhancement

#635 Fix JSON Bug in #634
  src/sst/core/statapi/statoutputjson.cc
Labels: Bug, SST-Core, SST-Statistics

#638 Update contributing.md
  CONTRIBUTING.md
Labels: Documentation

#639 Added a log_testing_note feature and added colorized result outputs
  src/sst/core/testingframework/sst_unittest_support.py
  src/sst/core/testingframework/test_engine_globals.py
  src/sst/core/testingframework/test_engine_unittest.py
Labels: SST-Test Frameworks

#644 Change over SST::RNG::SSTRandom to SST::RNG::Random
  src/sst/core/Makefile.am
  src/sst/core/rng/discrete.h
  src/sst/core/rng/expon.h
  src/sst/core/rng/gaussian.h
  src/sst/core/rng/marsaglia.h
  src/sst/core/rng/mersenne.h
  src/sst/core/rng/poisson.h
  src/sst/core/rng/rng.h
  src/sst/core/rng/sstrng.cc
  src/sst/core/rng/sstrng.h
  src/sst/core/rng/uniform.h
  src/sst/core/rng/xorshift.h
Labels: Enhancement, SST-Core

#646 Migrates SST Random Distributions to new names without the SST Prefix
  src/sst/core/rng/constant.h
  src/sst/core/rng/discrete.h
  src/sst/core/rng/distrib.h
  src/sst/core/rng/expon.h
  src/sst/core/rng/gaussian.h
  src/sst/core/rng/marsaglia.cc
  src/sst/core/rng/marsaglia.h
  src/sst/core/rng/mersenne.cc
  src/sst/core/rng/mersenne.h
  src/sst/core/rng/poisson.cc
  src/sst/core/rng/poisson.h
  src/sst/core/rng/uniform.h
  src/sst/core/rng/xorshift.cc
  src/sst/core/rng/xorshift.h
Labels: Enhancement, SST-General
