Repository sstsimulator/sst-core, pull requests merged in 2021-07, with the labels that each got.

#657 Check that RNG never produce a value that equals 1.0
  src/sst/core/rng/marsaglia.cc
  src/sst/core/rng/mersenne.cc
  src/sst/core/rng/rng.h
  src/sst/core/rng/xorshift.cc
Labels: Enhancement, SST-Core

#658 Add debug and improved event handling support to StandardMem interface
  src/sst/core/interfaces/stdMem.h
Labels: Enhancement

#663 Change reporting of skipped tests
  src/sst/core/testingframework/test_engine.py
  src/sst/core/testingframework/test_engine_globals.py
  src/sst/core/testingframework/test_engine_unittest.py
Labels: Enhancement, SST-Test Frameworks

#668 Adding Internal clang format test script
  scripts/clang-format-test.sh
Labels: Enhancement, SST-Core

#669 Communication leaks
  src/sst/core/objectComms.h
Labels: Enhancement, SST-Core

#673 Added a #!/bin/bash to the top of the clang format script.
  .gitignore
  Makefile.am
  scripts/clang-format-test.sh
Labels: Enhancement, SST-BuildSystem

#677 Util functions
  .clang-format
  src/sst/core/action.h
  src/sst/core/activity.h
  src/sst/core/clock.h
  src/sst/core/event.h
  src/sst/core/serialization/serializable.h
  src/sst/core/simulation.cc
  src/sst/core/simulation.h
  src/sst/core/simulation_impl.h
  src/sst/core/timeConverter.h
Labels: Enhancement, SST-Core
