Repository sstsimulator/sst-core, pull requests merged in 2021-08, with the labels that each got.

#683 Utilize Python Detection to Populate SST Core/Element Test Loaders
  src/sst/core/testingframework/Makefile.inc
  src/sst/core/testingframework/sst-test-core.in
  src/sst/core/testingframework/sst-test-elements.in
Labels: Bug, Enhancement, SST-BuildSystem, SST-Test Frameworks

#672 Start using Json Library
  external/nlohmann/Makefile.inc
  external/nlohmann/json.hpp
  src/sst/core/Makefile.am
  src/sst/core/cfgoutput/jsonConfigOutput.cc
  src/sst/core/cfgoutput/jsonConfigOutput.h
Labels: Enhancement, SST-Core

#687 Fixing --enable-testframework-dev feature to work again
  src/sst/core/testingframework/Makefile.inc
Labels: Bug, SST-BuildSystem, SST-Core

#690 Utilize basic dlopen functionality to work around needing libtldl
  src/sst/core/elemLoader.cc
  src/sst/core/elemLoader.h
  src/sst/core/sstinfo.cc
Labels: Enhancement, SST-Core

#693 Remove libltdl directory creation
  autogen.sh
  configure.ac
  src/sst/core/Makefile.am
Labels: Enhancement, SST-Core, SST-BuildSystem

#691 Made the SSTModelDescription into a loadable module.
  .clang-format
  src/sst/core/Makefile.am
  src/sst/core/baseComponent.h
  src/sst/core/eli/elementinfo.h
  src/sst/core/eli/simpleInfo.h
  src/sst/core/factory.h
  src/sst/core/main.cc
  src/sst/core/model/python/pymodel.cc
  src/sst/core/model/python/pymodel.h
  src/sst/core/model/sstmodel.cc
  src/sst/core/model/sstmodel.h
  src/sst/core/simulation.cc
  src/sst/core/statapi/statengine.cc
  src/sst/core/statapi/statengine.h
Labels: Enhancement

#692 Changing the clang-format script to accept the `-i` option.
  scripts/clang-format-test.sh
Labels: SST-Core

#694 Remove libltdl Header from SST Info
  src/sst/core/sstinfo.cc
Labels: Bug, SST-Core

#670 Readme update
  README.md
Labels: Enhancement

#698 Adding GHA clang-format test
  .github/workflows/PR_clang-format_test.yml
Labels: SST-Core, SST-BuildSystem, AT: WIP, SST-Test Frameworks

#701 Update GHA script
  .github/workflows/PR_clang-format_test.yml
Labels: Enhancement, SST-Core

#714 Include updates
  .clang-format
  src/sst/core/model/python/pymacros.h
  src/sst/core/model/python/pymodel.cc
  src/sst/core/testElements/coreTest_ClockerComponent.h
  src/sst/core/testElements/coreTest_Component.cc
  src/sst/core/testElements/coreTest_Component.h
  src/sst/core/testElements/coreTest_DistribComponent.h
  src/sst/core/testElements/coreTest_Links.h
  src/sst/core/testElements/coreTest_LookupTableComponent.cc
  src/sst/core/testElements/coreTest_LookupTableComponent.h
  src/sst/core/testElements/coreTest_Module.h
  src/sst/core/testElements/coreTest_ParamComponent.h
  src/sst/core/testElements/coreTest_SharedObjectComponent.cc
  src/sst/core/testElements/coreTest_SharedObjectComponent.h
  src/sst/core/testElements/coreTest_SubComponent.cc
  src/sst/core/testElements/coreTest_SubComponent.h
  src/sst/core/testElements/coreTest_TracerComponent.cc
  src/sst/core/testElements/coreTest_TracerComponent.h
  tests/Makefile.inc
  tests/test_TracerComponent_1.py
  tests/test_TracerComponent_2.py
Labels: AT: CLANG-FORMAT PASS

#715 Add zlib-devel to centos build instructions
  README.md
Labels: AT: CLANG-FORMAT PASS
