Repository sstsimulator/sst-core, pull requests merged in 2021-03, with the labels that each got.

#591 Fix sst-info test run if sst/bin is not in users path
  tests/testsuite_default_sstinfo.py
Labels: Bug, SST-Core, SST-Test Frameworks

#594 Update contributing info to ssh methods
  CONTRIBUTING.md
Labels: Documentation

#590 Shared region enhancements
  src/sst/core/Makefile.am
  src/sst/core/baseComponent.cc
  src/sst/core/config.cc
  src/sst/core/config.h
  src/sst/core/main.cc
  src/sst/core/serialization/serializable.h
  src/sst/core/shared/Makefile.inc
  src/sst/core/shared/sharedArray.h
  src/sst/core/shared/sharedMap.h
  src/sst/core/shared/sharedObject.cc
  src/sst/core/shared/sharedObject.h
  src/sst/core/shared/sharedSet.h
  src/sst/core/sharedRegion.cc
  src/sst/core/sharedRegion.h
  src/sst/core/sharedRegionImpl.h
  src/sst/core/simulation.cc
  src/sst/core/testElements/Makefile.inc
  src/sst/core/testElements/coreTest_LookupTableComponent.cc
  src/sst/core/testElements/coreTest_SharedObjectComponent.cc
  src/sst/core/testElements/coreTest_SharedObjectComponent.h
  src/sst/core/testingframework/sst_unittest.py
  tests/Makefile.inc
  tests/refFiles/test_UnitAlgebra.out
  tests/test_SharedObject.py
  tests/testsuite_default_SharedObject.py
  tests/testsuite_default_UnitAlgebra.py
Labels: Enhancement

#603 Change runtime_error Catch to a Reference
  src/sst/core/unitAlgebra.cc
Labels: Enhancement, SST-Core
