Repository sstsimulator/sst-core, pull requests merged in 2021-01, with the labels that each got.

#574 Startup performance enhancements
  src/sst/core/configGraph.cc
  src/sst/core/configGraph.h
  src/sst/core/params.cc
  src/sst/core/serialization/serialize_map.h
  src/sst/core/serialization/serialize_set.h
  src/sst/core/sparseVectorMap.h
Labels: Enhancement

#576 Switching Python3 to default and adding deprecation notice.
  config/sst_check_python.m4
  configure.ac
Labels: Enhancement, SST-Core

#578 Additional changes for the new test frameworks
  src/sst/core/testingframework/sst_test_engine_loader.py
  src/sst/core/testingframework/sst_unittest_support.py
  src/sst/core/testingframework/test_engine.py
  src/sst/core/testingframework/test_engine_support.py
  src/sst/core/testingframework/test_engine_unittest.py
  src/sst/sst.conf
Labels: SST-Core

#579 Change to support running the test frameworks if sst is not in the path
  src/sst/core/testingframework/sst_unittest.py
Labels: SST-Core
