Repository sstsimulator/sst-core, pull requests merged in 2023-07, with the labels that each got.

#963 Use and apply cmake-format
  .git-blame-ignore-revs
  .github/workflows/PR_cmake-format_test.yml
  .gitignore
  experimental/.cmake-format.yaml
  experimental/CMakeLists.txt
  experimental/cmake/PreventInSourceBuilds.cmake
  experimental/cmake/sst.cmake
  scripts/cmake-format-test.sh
  share/CMakeLists.txt
  src/CMakeLists.txt
  src/sst/CMakeLists.txt
  src/sst/core/CMakeLists.txt
  src/sst/core/cfgoutput/CMakeLists.txt
  src/sst/core/eli/CMakeLists.txt
  src/sst/core/env/CMakeLists.txt
  src/sst/core/impl/CMakeLists.txt
  src/sst/core/impl/partitioners/CMakeLists.txt
  src/sst/core/impl/timevortex/CMakeLists.txt
  src/sst/core/interfaces/CMakeLists.txt
  src/sst/core/interprocess/CMakeLists.txt
  src/sst/core/math/CMakeLists.txt
  src/sst/core/model/CMakeLists.txt
  src/sst/core/model/json/CMakeLists.txt
  src/sst/core/model/python/CMakeLists.txt
  src/sst/core/profile/CMakeLists.txt
  src/sst/core/rng/CMakeLists.txt
  src/sst/core/serialization/CMakeLists.txt
  src/sst/core/shared/CMakeLists.txt
  src/sst/core/statapi/CMakeLists.txt
  src/sst/core/sync/CMakeLists.txt
  src/sst/core/testElements/CMakeLists.txt
  src/sst/core/testElements/message_mesh/CMakeLists.txt
  src/sst/core/testingframework/CMakeLists.txt
  tests/CMakeLists.txt
Labels: AT: CLANG-FORMAT PASS

#960 Minor tidying
  .gitignore
  doc/.gitignore
  src/sst/core/configGraph.cc
  src/sst/core/event.h
  src/sst/core/link.cc
  src/sst/core/rng/uniform.h
  src/sst/core/serialization/serialize_buffer_accessor.h
  src/sst/core/simulation.cc
Labels: AT: CLANG-FORMAT PASS

#964 Fixes for cmake-format GitHub Action
  .github/workflows/PR_cmake-format_test.yml
Labels: AT: CLANG-FORMAT PASS

#970 Fix tests broken under CMake compilation
  experimental/cmake/sst.cmake
  experimental/cmake_configure_files/sst_config.h.in
  src/sst/core/testElements/CMakeLists.txt
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#973 Add missing cstdint include for GCC 13
  src/sst/core/decimal_fixedpoint.h
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#976 Update cmake-format-lint-action version
  .github/workflows/PR_cmake-format_test.yml
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#977 Extended help
  src/sst/core/bootsst.cc
  src/sst/core/bootsstinfo.cc
  src/sst/core/config.cc
  src/sst/core/config.h
  src/sst/core/configBase.cc
  src/sst/core/configBase.h
  src/sst/core/configShared.cc
  src/sst/core/configShared.h
  src/sst/core/sstinfo.cc
Labels: Enhancement, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#974 Allow generic debug flags
  configure.ac
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS
