Repository sstsimulator/sst-core, pull requests merged in 2024-09, with the labels that each got.

#1127 Update and pin version of clang-format-lint-action
  .github/workflows/PR_clang-format_test.yml
Labels: AT: CLANG-FORMAT FAIL, AT: CMAKE-FORMAT PASS

#1128 Python 3.11: Update datetime command for current UTC time
  src/sst/core/testingframework/test_engine_unittest.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1130 Fix RealTime tests
  tests/testsuite_default_RealTime.py
Labels: AT: CLANG-FORMAT FAIL, AT: CMAKE-FORMAT PASS

#1125 Update tar extraction command for Python 3.12 and newer
  src/sst/core/testingframework/sst_unittest_support.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1133 Loosen test criteria for realtime tests to accomodate time uncertainty
  tests/testsuite_default_RealTime.py
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1132 Initial implementation of parallel checkpointing.
  .clang-format
  src/sst/core/action.h
  src/sst/core/activity.h
  src/sst/core/checkpointAction.cc
  src/sst/core/checkpointAction.h
  src/sst/core/config.cc
  src/sst/core/config.h
  src/sst/core/event.h
  src/sst/core/link.cc
  src/sst/core/link.h
  src/sst/core/main.cc
  src/sst/core/oneshot.h
  src/sst/core/realtime.cc
  src/sst/core/realtime.h
  src/sst/core/realtimeAction.h
  src/sst/core/simulation.cc
  src/sst/core/simulation_impl.h
  src/sst/core/statapi/statoutput.cc
  src/sst/core/sync/Makefile.inc
  src/sst/core/sync/rankSyncParallelSkip.cc
  src/sst/core/sync/rankSyncParallelSkip.h
  src/sst/core/sync/rankSyncSerialSkip.cc
  src/sst/core/sync/rankSyncSerialSkip.h
  src/sst/core/sync/syncManager.cc
  src/sst/core/sync/syncManager.h
  src/sst/core/sync/syncQueue.cc
  src/sst/core/sync/syncQueue.h
  src/sst/core/sync/threadSyncDirectSkip.cc
  src/sst/core/sync/threadSyncDirectSkip.h
  src/sst/core/sync/threadSyncQueue.h
  src/sst/core/sync/threadSyncSimpleSkip.cc
  src/sst/core/sync/threadSyncSimpleSkip.h
  src/sst/core/testElements/coreTest_SharedObjectComponent.h
  tests/subcomponent_tests/test_sc_2a.py
  tests/subcomponent_tests/test_sc_2u.py
  tests/subcomponent_tests/test_sc_2u2a.py
  tests/subcomponent_tests/test_sc_2u2u.py
  tests/subcomponent_tests/test_sc_2ua.py
  tests/subcomponent_tests/test_sc_2uu.py
  tests/subcomponent_tests/test_sc_a.py
  tests/subcomponent_tests/test_sc_u.py
  tests/subcomponent_tests/test_sc_u2a.py
  tests/subcomponent_tests/test_sc_u2u.py
  tests/subcomponent_tests/test_sc_ua.py
  tests/subcomponent_tests/test_sc_uu.py
  tests/test_Checkpoint.py
  tests/test_SharedObject.py
  tests/testsuite_default_Checkpoint.py
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS, Major Feature

#1136 deprecate testing_is_PIN2_used()
  src/sst/core/testingframework/sst_unittest_support.py
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS
