Repository sstsimulator/sst-core, pull requests merged in 2024-12, with the labels that each got.

#1180 Add CacheFlush instruction to StandardMem interface
  src/sst/core/baseComponent.cc
  src/sst/core/interfaces/stdMem.h
Labels: Enhancement, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1179 Remove dead log calls and consolidate logic in PIN support functions
  src/sst/core/testingframework/sst_unittest_support.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1184 Python: update logic between discover_and_run_tests and startup_and_run
  src/sst/core/model/xmlToPython.py
  src/sst/core/testingframework/sst_test_engine_loader.py
  src/sst/core/testingframework/sst_unittest_parameterized.py
  src/sst/core/testingframework/test_engine.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1185 Attach Points
  src/sst/core/Makefile.am
  src/sst/core/baseComponent.cc
  src/sst/core/clock.h
  src/sst/core/event.h
  src/sst/core/link.cc
  src/sst/core/link.h
  src/sst/core/profile/clockHandlerProfileTool.cc
  src/sst/core/profile/clockHandlerProfileTool.h
  src/sst/core/profile/eventHandlerProfileTool.cc
  src/sst/core/profile/eventHandlerProfileTool.h
  src/sst/core/simulation.cc
  src/sst/core/sst_types.h
  src/sst/core/ssthandler.cc
  src/sst/core/ssthandler.h
  tests/Makefile.inc
  tests/refFiles/test_Profiling_event_component.out
  tests/refFiles/test_Profiling_event_global.out
  tests/refFiles/test_Profiling_event_subcomponent.out
  tests/refFiles/test_Profiling_event_type.out
  tests/testsuite_default_profiling.py
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1187 Python: add type annotations to testingframework/test_engine.py
  src/sst/core/testingframework/test_engine.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1188 Added missing attachInterceptTool() call to SSTHandlerBase
  src/sst/core/simulation.cc
  src/sst/core/ssthandler.h
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS
