Repository sstsimulator/sst-core, pull requests merged in 2025-01, with the labels that each got.

#1190 Update for Python 3.13: Add new tp_versions_used field
  src/sst/core/model/python/pymacros.h
  src/sst/core/model/python/pymodel.cc
  src/sst/core/model/python/pymodel_comp.cc
  src/sst/core/model/python/pymodel_link.cc
  src/sst/core/model/python/pymodel_stat.cc
  src/sst/core/model/python/pymodel_statgroup.cc
  src/sst/core/model/python/pymodel_unitalgebra.cc
Labels: Enhancement, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1191 test_engine_globals.py: add type annotations and update uninitialized variables
  src/sst/core/testingframework/test_engine_globals.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1194 test_engine_junit.py: add type annotations
  src/sst/core/testingframework/test_engine_junit.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1195 Fix bug in sst-info filtering
  src/sst/core/sstinfo.cc
Labels: AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS

#1198 test_engine_support.py: add type annotations
  src/sst/core/model/xmlToPython.py
  src/sst/core/testingframework/test_engine_support.py
Labels: SST-Test Frameworks, AT: CLANG-FORMAT PASS, AT: CMAKE-FORMAT PASS
